

body {
  background-color: black;
  margin: 1rem;
  overflow: hidden;
}

.scroll-container {
  display: flex;
  overflow: hidden;
  width: 100vw; /* Make the container full-width */
  height: 100vh; /* Make the container full-height */
}

.scroll-content {
  display: flex;
  animation: scroll 25s linear infinite; /* Adjust the duration for the entire scroll */
}

.image {
  width: 200px; /* Adjust the width of your images */
  height: 7rem; /* Maintain aspect ratio */
  margin-right: 13rem; /* Adjust the spacing between images */
}

@keyframes scroll {
  from {
    transform: translateX(0%);
  }

  to {
    transform: translateX(-79%); /* Adjust to match the width of your images */
  }
}
